
  
  
  
  .platform-name {
    margin: 0;
  }


  
.vision-objectives{
    border: solid 2px;
    width: 1500px;
    margin-left: 20px;
    padding-bottom: 10px;
}



.experiments{
  margin-left: 20px;
  padding-top: 10px;
  border: solid 2px;
  width: 1500px;
}

.experiments-title{
  text-align: center;
}

  
  